body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #ffd500;
}

main {
    background-color: #ffd500;
    width: 80%;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}